---
sites:
  - "!create_or_update:name": "{{ site_name }}"
    region__slug: "{{ region.slug }}"
    status__name: "Planned"
    "!ref": "site"

racks:
  - "!create_or_update:name": "{{ site_name }}-101"
    "!ref": "rack1"
    site: "!ref:site"
    status__name: "Planned"

  - "!create_or_update:name": "{{ site_name }}-201"
    "!ref": "rack2"
    site: "!ref:site"
    status__name: "Planned"

{% macro inventory_item(name, part_id, description) -%}
      - "!create_or_update:name": "{{ name }}"
        manufacturer__slug: "juniper"
        part_id: "{{ part_id }}"
        description: "{{ description }}"
{% endmacro %}

{% macro device(device_name, rack_ref, lo_address) -%}
  - "!create_or_update:name": "{{ device_name }}.{{ site_name | lower }}"
    site: "!ref:site"
    device_type__slug: "ptx10016"
    device_role__slug: "core_router"
    status__name: "Planned"
    rack: "!ref:{{ rack_ref }}"
    position: 11
    face: front
    serial: "{{ get_serial_number(device_name) }}"
    inventoryitems:
      {{ inventory_item("CB 0", "JNP10K-RE1", "Second Gen RE1") }}
      {{ inventory_item("CB 1", "JNP10K-RE1", "Second Gen RE1") }}
      {{ inventory_item("SIB 0", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 1", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 2", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 3", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 4", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 5", "JNP10016-SF3", "Switch Fabric 3") }}
    interfaces:
      - "!create_or_update:name": "lo0.0"
        status__name: "Planned"
        type: "virtual"
        ip_addresses:
        - "!create_or_update:address": "{{ lo_address }}"
          status__name: "Reserved"
{% endmacro %}

devices:
  {{ device("core01", "rack1", core_1_loopback) }}
  {{ device("core02", "rack2", core_2_loopback) }}
