---

vrfs:
  - "!create_or_update:name": "{{ l3vpn_asn }}:{{ get_customer_id(customer_name, l3vpn_asn) }}"
    description: "VRF for customer {{ customer_name }}"
    "!ref": "my_vrf"


prefixes:
    - "!create_or_update:prefix": "{{ l3vpn_prefix }}"
      status__name: "Reserved"
    - "!create_or_update:prefix": "{{ get_l3vpn_prefix(l3vpn_prefix, l3vpn_prefix_length) }}"
      status__name: "Reserved"
      vrf: "!ref:my_vrf"


{% macro device_edit(device, offset) -%}
  - "!update:name": "{{ device.name }}"
    local_context_data: {
      "mpls_router": true,
    }
    interfaces:
      - name: {{ get_interface_name(device) }}
        status__name: "Planned"
        type: "other"
        ip_addresses:
        - "!create_or_update:address": "{{ get_ip_address(get_l3vpn_prefix(l3vpn_prefix, l3vpn_prefix_length), offset) }}"
          status__name: "Reserved"

{% endmacro %}

devices:
  {{ device_edit(ce, 1) }}
  {{ device_edit(pe, 2) }}
