---
locations:
  - name: "{{ site_name }}"
    parent__name: "{{ region.name }}"
    location_type__name: "Site"
    status__name: "Planned"
    "!ref": "site"

racks:
  - name: "{{ site_name }}-101"
    "!ref": "rack1"
    location: "!ref:site"
    status__name: "Planned"

  - name: "{{ site_name }}-201"
    "!ref": "rack2"
    location: "!ref:site"
    status__name: "Planned"

prefixes:
  - prefix: "{{ site_prefix }}"
    status__name: "Active"
    "!ref": "parent_prefix"

{% macro inventory_item(name, part_id, description) -%}
      - name: "{{ name }}"
        manufacturer__name: "Juniper"
        part_id: "{{ part_id }}"
        description: "{{ description }}"
{% endmacro %}

{% macro device(device_name, rack_ref, lo_address) -%}
  - name: "{{ device_name }}.{{ site_name | lower }}"
    location: "!ref:site"
    device_type__model: "PTX10016"
    role__name: "Core Router"
    status__name: "Planned"
    rack: "!ref:{{ rack_ref }}"
    position: 11
    face: front
    serial: "{{ get_serial_number(device_name) }}"
    inventory_items:
      {{ inventory_item("CB 0", "JNP10K-RE1", "Second Gen RE1") }}
      {{ inventory_item("CB 1", "JNP10K-RE1", "Second Gen RE1") }}
      {{ inventory_item("SIB 0", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 1", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 2", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 3", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 4", "JNP10016-SF3", "Switch Fabric 3") }}
      {{ inventory_item("SIB 5", "JNP10016-SF3", "Switch Fabric 3") }}
    interfaces:
      - name: "lo0.0"
        status__name: "Planned"
        type: "virtual"
        ip_address_assignments:
          - ip_address:
              "!create_or_update:address": "{{ lo_address }}"
              status__name: "Reserved"
{% endmacro %}

devices:
  {{ device("core01", "rack1", core_1_loopback) }}
  {{ device("core02", "rack2", core_2_loopback) }}
