---



{% macro device_edit(device, other_device, offset) -%}
  - "!update:name": "{{ device.name }}"
    local_context_data: {
      "mpls_router": true,
    }
    interfaces:
      - "!create_or_update:name": "{{ get_interface_name(device) }}"
        status__name: "Planned"
        type: "other"
        ip_address_assignments:
          - ip_address:
              "!create_or_update:address": "{{ get_ip_address(get_l3vpn_prefix(l3vpn_prefix, l3vpn_prefix_length), offset) }}"
              status__name: "Reserved"
        {% if offset == 2 %}
        "!connect_cable":
          status__name: "Planned"
          to:
            device__name: "{{ other_device.name }}"
            name: "{{ get_interface_name(other_device) }}"
        {% endif %}

{% endmacro %}

devices:
  {{ device_edit(ce, pe, 1) }}
  {{ device_edit(pe, ce, 2) }}
