---
manufacturers:
  - "!create_or_update:name": "Juniper"
  - "!create_or_update:name": "Cisco"

device_types:
  - "!create_or_update:model": "PTX10016"
    manufacturer__name: "Juniper"
    u_height: 21
  - "!create_or_update:model": "C8300-1N1S-6T"
    manufacturer__name: "Cisco"
    u_height: 1

roles:
  - "!create_or_update:name": "Core Router"
    color: "3f51b5"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"
  - "!create_or_update:name": "Edge Router"
    color: "ffeb3b"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"

location_types:
  - "!create_or_update:name": "Region"
    nestable: true
  
    children:
      "!create_or_update:name": "Site"
      content_types:
        - "!get:app_label": "circuits"
          "!get:model": "circuittermination"
        - "!get:app_label": "dcim"
          "!get:model": "device"
        - "!get:app_label": "dcim"
          "!get:model": "powerpanel"
        - "!get:app_label": "dcim"
          "!get:model": "rack"
        - "!get:app_label": "dcim"
          "!get:model": "rackgroup"
        - "!get:app_label": "ipam"
          "!get:model": "prefix"
        - "!get:app_label": "ipam"
          "!get:model": "vlan"
        - "!get:app_label": "ipam"
          "!get:model": "vlangroup"
        - "!get:app_label": "virtualization"
          "!get:model": "cluster"
    locations:
        "!create_or_update:name": "Americas"
        status__name: "Active"
        children:
        - "!create_or_update:name": "United States"
          location_type__name: "Region"
          status__name: "Active"
          children:
          - "!create_or_update:name": "US-East-1"
            location_type__name: "Region"
            status__name: "Active"
            children:
            - "!create_or_update:name": "IAD5"
              location_type__name: "Site"
              status__name: "Active"
              "!ref": "iad5"
            - "!create_or_update:name": "LGA1"
              location_type__name: "Site"
              status__name: "Active"
              "!ref": "lga1"
          - "!create_or_update:name": "US-West-1"
            location_type__name: "Region"
            status__name: "Active"
            children:
            - "!create_or_update:name": "LAX11"
              location_type__name: "Site"
              status__name: "Active"
              "!ref": "lax11"
            - "!create_or_update:name": "SEA1"
              location_type__name: "Site"
              status__name: "Active"
              "!ref": "sea1"

providers:
  - "!create_or_update:name": "NTC"

provider_networks:
  - "!create_or_update:name": "NTC-WAN"
    "!create_or_update:provider__name": "NTC"

circuit_types:
  - "!create_or_update:name": "Ethernet"

{% macro device(device_name, site) -%}
    - "!create_or_update:name": "{{ device_name }}.{{ site }}"
      location: "!ref:{{ site }}"
      device_type__model: "PTX10016"
      role__name: "Core Router"
      status__name: "Planned"
{% endmacro %}

devices:
    # IAD5 Core Router Pair
    {{ device("core01", "iad5") }}
    {{ device("core02", "iad5") }}

    # LGA1 Core Router Pair
    {{ device("core01", "lga1") }}
    {{ device("core02", "lga1") }}

    # LAX11 Core Router Pair
    {{ device("core01", "lax11") }}
    {{ device("core02", "lax11") }}

    # SEA1 Core Router Pair
    {{ device("core01", "sea1") }}
    {{ device("core02", "sea1") }}
