{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Design Instance</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{ object.version }}</td>
                </tr>
                <tr>
                    <td>Deployed by</td>
                    <td>{{ object.get_created_by|placeholder }}</td>
                </tr>
                <tr>
                    <td>Deployment Time</td>
                    <td>{{ object.first_implemented|placeholder }}</td>
                </tr>
                <tr>
                    <td>Last Updated by</td>
                    <td>{{ object.get_last_updated_by|placeholder }}</td>
                </tr>
                <tr>
                    <td>Last Update Time</td>
                    <td>{{ object.last_implemented|placeholder }}</td>
                </tr>
                <tr>
                    <td>Design</td>
                    <td>{{ object.design|hyperlinked_object }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Operational State</td>
                    <td>
                        <span class="label" style="color: {{ object.live_state.color|fgcolor }}; background-color: #{{ object.live_state.color }}">{{ object.live_state }}</span>
                    </td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_right_page %}
{% include 'utilities/obj_table.html' with table=journals_table table_template='panel_table.html' heading='Journals' %}
<div class="row"></div>
{% endblock content_right_page %}
