---

prefixes:
    - "!create_or_update:prefix": "{{ co_allocated_prefix }}"
      status__name: "Active"
      description: "{{ get_hostname(co_site.slug, "co") }} Instance:{{ get_instance_name("useless arg") }}"
    - "!create_or_update:prefix": "{{ cer_allocated_prefix }}"
      status__name: "Active"
      description: "{{ get_hostname(co_site.slug, "cer") }} Instance:{{ get_instance_name("useless arg") }}"
    - "!create_or_update:prefix": "{{ get_next_available_prefix("Usernetze", 30) }}"
      status__name: "Active"
      description: "ce-ces MgmtNetz Instance:{{ get_instance_name("useless arg") }}"
    - "!create_or_update:prefix": "{{ get_next_available_prefix("Koppelnetze", 30) }}"
      status__name: "Active"
      description: "co-cer MgmtNetz Instance:{{ get_instance_name("useless arg") }}"


{% macro device(device_name, new_name, role, site, location) -%}
# FIXME: removing the name changes because it makes it not idempotent
# name: "{{ new_name }}"
    - "!update:name": "{{ device_name }}"
      site__name: "{{ site }}"
      location__name: "{{ location }}"
      device_role__slug: "{{ role }}"
      status__name: "Planned"
{% endmacro %}

devices:
    {{ device(ces_device, get_hostname(ces_site.slug, "ces"), "ces", ces_site.name, ces_location.name) }}
      interfaces:
        - "!update:name": "GigabitEthernet1/0/1"
          "!connect_cable":
            status__name: "Planned"
            to:
              device__name: "{{ co_device }}"
              name: "GigabitEthernet0/0/0"
        - "!update:name": "GigabitEthernet1/0/14"
          "!connect_cable":
            status__name: "Planned"
            to:
              device__name: "{{ ce_device }}"
              name: "{{ ce_interface.name }}"
        - "!create_or_update:name": "Vlan1"
          status__name: "Planned"
          type: "virtual"
          ip_addresses:
          - "!create_or_update:address": "{{ get_next_available_prefix("Usernetze", 30) | network_offset('0.0.0.2/30') }}"
            status__name: "Reserved"
    {{ device(co_device, get_hostname(co_site.slug, "co"), "ce", co_site.name, co_location.name) }}
      interfaces:
        - "!update:name": "Ethernet0/2/0"
          "!connect_cable":
            status__name: "Planned"
            to:
              device__name: "{{ cer_device }}"
              name: "Ethernet0/2/0"
          ip_addresses:
          - "!create_or_update:address": "{{ get_next_available_prefix("Koppelnetze", 30) | network_offset('0.0.0.1/30') }}"
            status__name: "Reserved"
        - "!create_or_update:name": "lo10"
          status__name: "Planned"
          type: "virtual"
          ip_addresses:
          - "!create_or_update:address": "{{ co_allocated_prefix }}"
            status__name: "Reserved"
    {{ device(cer_device, get_hostname(cer_site.slug, "cer"), "cer", cer_site.name, cer_location.name) }}
      interfaces:
        - "!update:name": "Ethernet0/2/0"
          ip_addresses:
          - "!create_or_update:address": "{{ get_next_available_prefix("Koppelnetze", 30) | network_offset('0.0.0.2/30') }}"
            status__name: "Reserved"
        - "!create_or_update:name": "lo10"
          status__name: "Planned"
          type: "virtual"
          ip_addresses:
          - "!create_or_update:address": "{{ cer_allocated_prefix }}"
            status__name: "Reserved"
